* {
	margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:darkslategray;
  
}

header{
    text-align: center;
    height: 200px;
    
}

    header .logo{
        height: 60px;
        background-color:brown;

    }

    header .cabecera{
        background: url('images/fondo-cabecera.png');
        height: 140px;
        background-color:burlywood;
       
    }

nav{
    height: 80px;
    background-color:rosybrown;

}
    nav ul{
        text-align: center;
    }

    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0px;
        

    }

    nav ul li a{
        color: lavender;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 1px;
        padding: 18px;

    }
    a.active,a:hover{
        background: lightblue;
        transition: .5s;
    }