* {
	margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:lightgray;
  
}

header{
    text-align: center;
    height: 200px;
    align-items: center;
    
}

    header .logo{
        height: 60px;
        background-color:brown;

    }

    header .cabecera{
        background: url('images/fondo-cabecera.png');
        height: 140px;
        background-color:burlywood;
       
    }

nav{
    display:flex;
    height: 65px;
    background-color:darkgray;
    align-items: center;
    justify-content: space-around;

}
    .logo-izq{
        text-align: left;
    }

    .logo-der{
        text-align: right;
    }

    .categories{
        text-align: center;
    }

    .categories li{
        display: inline-block;
        line-height: 80px;
        margin: 0px;
        text-align: center;
    }

    .categories li a{
        font:italic;
        color:green;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 1px;
        padding: 18px;
        text-align: center;
    }

    .categories li a:hover{
        background: lightgreen;
        transition: .5s;
    }

main{
    
    
}

    #port{
        padding-bottom: 5px;
        margin-left: 70px;
        margin-right: 70px;
        display: flex;
    }

    .articulo{
        border: 1px solid #DDDDDD;
        padding: 10px;
        margin-bottom: 10px;
        height: 470px;
        width: 640px;
        text-align: center;
        background-color: whitesmoke;
    }
    
    .articulo h1{
        font-size:xx-large;
        margin-bottom: 5px;
    }
       
    .articulo .detalles{
        font-size: 0.9em;
        margin-bottom: 15px;
        color: #888888;
    }
    .articulo .detalles a{
            color: #888888;
            text-decoration: none;
        }
        .articulo .detalles a:hover{
            color: #003366;
            text-decoration: underline;
        }
    .articulo .imagen-sga{
        border: 1px solid #dddddd;
        padding: 5px;
        float: left;
        margin: 0 10px 10px 0;
    }
        
    .articulo p{
        line-height: 1.5em;
        margin-bottom: 1px;
    }
    .articulo .equipo{
        clear: both;
        font-size: 0.9em;
        color: #888888;
        margin-bottom: 0;
    }

    .noticia{
        border: 1px solid #DDDDDD;
        padding: 10px;
        margin-bottom: 10px;
        height: 470px;
        width: 640px;
        text-align: center;
        background-color: whitesmoke;
    }
    
    .noticia h1{
        font-size:xx-large;
        margin-bottom: 5px;
    }
       
    .noticia .detalles{
        font-size: 0.9em;
        margin-bottom: 15px;
        color: #888888;
    }
    .noticia .detalles a{
            color: #888888;
            text-decoration: none;
        }
        .noticia .detalles a:hover{
            color: #003366;
            text-decoration: underline;
        }
    .noticia .imagen-bb{
        border: 1px solid #dddddd;
        padding: 5px;
        float: left;
        margin: 0 10px 10px 0;
    }
        
    .noticia p{
        line-height: 1.5em;
        margin-bottom: 1px;
    }
    .noticia .equipo{
        clear: both;
        font-size: 0.9em;
        color: #888888;
        margin-bottom: 0;
    }

    #port .anuncio{
        height: 900px;
        width: 800px;
        text-align: right;
    }

    #port .anuncio .imagen-coca{
        border: 1px solid #dddddd;
        padding: 5px;
        float: right;
        margin: 0 10px 10px 0;
    }
    
footer{
    text-align: center;
    height: 200px;
    
}

    .top{
        background-color:burlywood;
        height: 85px;
    }

    .mid{
        height: 85px;
        background-color:brown;
    }

    .mid .cat-foot{
        text-align: center;
    }

    .mid .cat-foot li{
        display: inline-block;
        line-height: 80px;
        margin: 0px;
        text-align: center;
    }

    .mid .cat-foot li a{
        color:black;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 1px;
        padding: 18px;
        text-align: center;
    }

    .end{
        height: 50px;
        background-color:brown;
    }

    #estadis{
        height: 1400px;
        width: 1700px;
        background-color: whitesmoke;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 15px;

    }

    .titulo-clasi{
        margin-top: 15px;
        padding: 10px;
        height: 60px;
        text-align: center;
        align-items: center;
    }

    .clasi{
        margin-left: 300px;
        width: 60%;
        text-align: center;
        background-color: blanchedalmond;
    }

    .clasi table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
    }

    .clasi  th, td{
        padding: 10px;
    }

    .clasi th{
        background-color: darksalmon;
    }

    .clasi a{
        color: black;
        text-decoration: none;
        border-radius: 1px;

    }

    #estadis .anuncio{
        padding: 20px;
        text-align: center;
    }

    .titulo-lideres{
        height: 60px;
        text-align: center;
    }

    .lideres{
        margin-left: 300px;
        width: 60%;
        text-align: center;
        background-color: blanchedalmond;
    }

    .lideres table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
    }

    .lideres  th, td{
        padding: 10px;
    }

    .lideres th{
        background-color: darksalmon;
    }

    .lideres a{
        color: black;
        text-decoration: none;
        border-radius: 1px;

    }